[defaults]
action_warnings=True

nocows=True

collections_path=./collections #:~/.ansible/collections:/usr/share/ansible/collections

inventory=./inventory/inventory.proxmox.yaml

roles_path=./roles #:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

playbook_dir=./playbooks

#yaml_valid_extensions=.yml, .yaml, .json

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, community.general.proxmox